[client]
user={{ pillar['mysql']['server']['root_user'] }}
password={{ pillar['mysql']['server']['root_password'] }}
{% if grains['nodename'] == pillar['mysql']['mysql_hostname'] %}
host=localhost
{% else %}
host={{ pillar['mysql']['mysql_host'][0] }}
{% endif %}
