[client]
user={{ pillar['mysql']['server']['root_user'] }}
password={{ pillar['mysql']['server']['root_password'] }}
{% if grains['nodename'] == 'saltminion2' %}
host=localhost
{% else %}
host={{ pillar['mysql_host'] }}
{% endif %}
